@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    ViewBag.Title = "Eksploracja danych";
}

@Html.ActionLink("K-means", "KMeans", "Programs")<br />
<div class="alert alert-info">
    Opis programu
</div>
<br />

@Html.ActionLink("Perceptron", "Perceptron", "Programs")<br />
<div class="alert alert-info">
    Opis programu
</div>
