@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    ViewBag.Title = "Eksploracja danych";
}

@Html.ActionLink("K-means", "KMeans", "Programs")<br />
<div class="alert alert-info">
    Opis programu
</div>
<br />

@Html.ActionLink("Perceptron", "Perceptron", "Programs")<br />
<div class="alert alert-info">
    Perceptron dyskretny, unipolarny. Aktywuje się, gdy suma współrzędnych X i Y jest większa od progu.<br />
    Współrzędne w zbiorze treningowym są z przedziału [-100, 100], natomiast próg wynosi 10.
</div>
