@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Zaawansowane metody ochrony informacji";
}

@Html.ActionLink("Algorytm DES", "DES", "Programs", new { area = "AdvancedMethodsOfInformationProtection" }, new { })
<div class="alert alert-info">
    Szyfruje/deszyfruje tekst zapisany w postaci dwójkowej lub szesnastkowej, przy pomocy podanego klucza.
    Tekst nie może zawierać znaku enter (może natomiast zawierać spacje, podobnie jak klucz).
</div>