@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Zaawansowane metody ochrony informacji";
}

@Html.ActionLink("Algorytm DES", "DES", "Programs", new { area = "AdvancedMethodsOfInformationProtection" }, new { })
<div class="alert alert-info">
    Opis algorytmu DES
</div>