@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Zaawansowane metody ochrony informacji";
}

@Html.ActionLink("Szyfr DES", "DES", "Programs", new { area = "AdvancedMethodsOfInformationProtection" }, new { })
<div class="alert alert-info">
    Szyfruje/deszyfruje tekst zapisany w postaci dwójkowej lub szesnastkowej, przy pomocy podanego klucza.
    Tekst nie może zawierać znaku enter (może natomiast zawierać spacje, podobnie jak klucz).
</div>

@Html.ActionLink("Szyfr monoalfabetyczny", "MonoalphabeticCipher", "Programs", new { area = "AdvancedMethodsOfInformationProtection" }, new { })
<div class="alert alert-info">
    Tekst szyfrowany jest w następujący sposób:<br>
    liczone jest ile razy dana litera (od a do z, bez polskich liter) występuje w tekście wzorcowym,
    a następnie litery sortowane są malejąco ze względu na ilośc wystąpień. Jeśli kilka liter występuje tyle samo razy,
    wyżej jest ta, która jest wcześniej w alfabecie. W ten sposób otrzymujemy tajny alfabet 
    i na jego podstawie tworzony jest szyfr. Wielkość liter nie ma znaczenia, zarówno w tekście jawnym 
    jak i przy zliczniu wystąpień liter w tekście wzorcowym. Litery nie wchodzące w zkład alfabetu
    oraz znaki nie są szyfrowane. 
</div>